#vivado
/project_snake/Snack_Game.cache/*
/project_snake/Snack_Game.hw/*
/project_snake/Snack_Game.runs/*
/project_snake/Snack_Game.sim/*
/project_snake/Snack_Game.xpr
!.gitignore
!/project_snake/Snack_Game.srcs/*
/project_snake/*.log
/project_snake/*.jou